<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %> </div>
    
    
    <div class="ui top attached ">
        <div class="item">
                <img class="ui centered rounded image" src = "<%= blog.image %>">        
        </div>
    </div>
    <div class="content">
        <span><%= blog.created.toDateString() %></span>
    </div>
    <div class="description">
        <p><%- blog.body %></p>    
    </div>
    
    <a href="/blogs/<%=blog._id%>/edit" class="ui orange basic  button large">Edit</a>
    
    <form action = "/blogs/<%=blog._id%>?_method=DELETE"method = "POST" id="del">
            <button class="ui red basic  button large" style="margin-top: 10px; text-aling: centered">Del</button>
        </form>
    
</div>

<% include ./partials/footer %>